.my-profile-wrapper {
  margin-top: 16px;
}

.profile-auth-wrapper {
  //padding: 16px;
  border-radius: 4px;
  //background-color: white;
}


.profile-business-wrapper {
  //padding: 16px;
  border-radius: 4px;
  //background-color: white;
}

.profile-personal-wrapper {
  //padding: 16px;
  border-radius: 4px;
  //background-color: white;
}

.bg-transparent {
  background: transparent;
}

.input {
  //border: 1px solid #D1D1D1;
  //box-sizing: border-box;
  color: gray;
}
