.main-container {
  padding: 16px 16px 100px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main-container-element{
  width: 100%;
  max-width: 600px;
}

mat-toolbar {
  background-color: white;
}

mat-toolbar a {
  color: #027206;
  text-decoration: none;
}


.stepper-inputs {
  display: flex;
  flex-direction: column;
  /*width: 400px;*/
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}

.login-link {
  text-decoration: none;
  color: #027206;
  margin: 0 auto 0 auto;
  padding-left: 100px;

}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #55FF5C;
  color: #ffffff;
}

::ng-deep .mat-step-header .mat-step-label {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #027206;
  color: #ffffff;
}

.stepper-btn {
  background-color: #027206;
  color: white;
  border-radius: 6px;
  margin: 10px 20px 0 0;
  padding: 0 30px;
}

.landing-footer {
  height: fit-content;
  bottom: 0;
  width: 100%;
  margin: 0;
}

form {
  padding-top: 8px;
  width: 100%;
}


.form-field {
  width: 100%;
  max-width: 600px;
  margin-bottom: 5px;
}

.inputs {
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 3px;
  width: 100%;
}

.input-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 3px;
}

.input-error {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 12px;
  line-height: 16px;
  color: red;
  margin-bottom: 3px;
}

.switcher-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
