td, th {
  padding: 8px !important;
}

.s-table{
  background: transparent;
  width: 100%;
}

.table-container{
  padding: 0 16px!important;
}

mat-paginator{
  background: transparent;
}

.column-header{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
